<div class="yellow">
  <div id="calendar">
    <div id="toolbar"></div>
    <div id="color-picker" class="show"></div>
    <div id="dates" class="show">
      <div id="lastMt" (click)="onSelectMonth('prev')">&lsaquo;</div>
      <div id="nextMt" (click)="onSelectMonth('next')">&rsaquo;</div>
      <div id="months-cont">
        <div id="years">
          <span class="active year">{{selectedYear}}</span>
        </div>
        <div id="months">
          <span class="active month">{{selectedMonthName}}</span>
        </div>
      </div>
      <div id="daysotweek">
        <div class="day">S</div>
        <div class="day">M</div>
        <div class="day">T</div>
        <div class="day">W</div>
        <div class="day">T</div>
        <div class="day">F</div>
        <div class="day">S</div>
      </div>
      <div id="days">
        <div *ngFor="let week of days">
          <!-- <span class="dateBox" appDatelistner *ngFor="let day of week">{{day}}</span> -->
          <span class="dateBox" 
          appDatelistner *ngFor="let day of week" 
          [ngClass]="{'isBooked': thisMonthBookedDates.includes(day), 'isSelected': thisMonthNewBookingDates.includes(day)}">
          {{day}}</span>
        </div>
      </div>
    </div>
    <!-- <div id="info" class="hide">
      <div id="actual-date"></div>
      <div id="back"></div>
      <div id="month-name"></div>
      <div id="weather">
        <div id="sun"></div>
        <div id="mountains"></div>
        <div id="rain">
          <div class="raindrop" id="drop-1"></div>
          <div class="raindrop center" id="drop-2"></div>
          <div class="raindrop center" id="drop-3"></div>
          <div class="raindrop" id="drop-4"></div>
        </div>
        <div id="temp">57&deg;<span>F</span></div>
      </div>
      <div id="bg-card">
        <div class="content"></div>
      </div>
      <div id="card">
        <div class="content">
          <div id="event-name"></div>
          <div id="event-details">
            <div class="col-3">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <h3>Location</h3>
              <p>12345 Generic Ave., Some City, Some State, 12345
            </div>
            <div class="col-3">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              <h3>Time</h3>
              <p> 12:00 AM </p>
            </div>
            <div class="col-3">
              <i class="fa fa-user" aria-hidden="true"></i>
              <h3>Attendee</h3>
              <p>Me, You, and 2+</p>
            </div>
            <div style="clear: both"></div>
          </div>

        </div>
      </div>
    </div>
    <div id="colors" class="hide">
      <div id="close">&times;</div>
      <p>Choose theme color</p>
      <div class="color" id="salmon"></div>
      <div class="color" id="dkpink"></div>
      <div class="color" id="red"></div>
      <div class="color" id="redorg"></div>
      <div class="color" id="orange"></div>
      <div class="color" id="orgylw"></div>
      <div class="color active" id="yellow"></div>
      <div class="color" id="green"></div>
      <div class="color" id="aqua"></div>
      <div class="color" id="teal"></div>
      <div class="color" id="sltbl"></div>
      <div class="color" id="pwdbl"></div>
      <div class="color" id="blue"></div>
      <div class="color" id="purple"></div>
      <div class="color" id="dkprpl"></div>
    </div> -->
  </div>
</div>